
<%- include('../../views/partials/html-header') %>

<h2>This is new About Page</h2>


<%- include('../../components/header/header') %>

<%- include('../../components/footer/footer') %>

<%- include('../../views/partials/html-footer') %>
