// Descriptive Colors
$white: #ffffff;
$medium-white: #fafafa;
$blue: #1976d2;
$red: #dc143c;
$light-red: #FF432D;
$dark-red: #71040d;
$grey: #bbbbbb;
$border-grey: #e6e6e6;
$light-grey: #e9edf0;
$medium-grey: #cdc8c8;
$dark-grey: #8c8c8c;
$light-blue: #007bff;
$dark-blue: #0e2ba8;
$medium-black: #333333;
$light-black: #242424;
$black: #000000;
$semi-black: #212121;
$medium-black: #141414;
$semi-light-grey: #dddddd;
$medium-dark-grey: #d2d5d7;

// Functional Colors
$primary--color: $blue;
$secondary--color: $white;