
 <%- include('./partials/html-header') %>

  <body>

  
    <%- include('../components/header/header') %>
   
    <%- include('../components/footer/footer') %>

    <%- include('./partials/html-footer') %>
  </body>
</html>