<!-- Sidebar -->
<nav id="sidebar" class="">
    <div class="sidebar-header">
        
        <div class="bin-logo">

        </div>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li class="d-none">
            <a href="#homeSubmenu">Manage Blood Donors</a>
        </li>
        <li >
            <a href="#" >Track Request</a>
        </li>
        <li >
            <a href="#">Request for Blood</a>
        </li>
        <li >
            <a href="#">Donor Registration</a>
        </li>
        <li >
            <a href="#">Request for Blood</a>
        </li>
        <li>
            <a href="javascript:void(0);">Log out</a>
        </li>
    </ul>
</nav>